body {
  margin: 0;
  background: #0A3190;
  color: #949B93;
}
.board {
  color: transparent;
  caret-color: #949B93;
}
.view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.board,
.view {
  display: inline-block;
  padding: 1em;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1.65em;
}

.variable {
  color: #FFA800;
}
.comment {
  opacity: .5;
}