* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  background: #0A3190;
  color: #949B93;
  font-family: monospace;
  line-height: 1.65em;
}
.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
.calculator {
  display: grid;
  grid-template-columns: 1fr 30%;
  max-height: 100%;
  overflow: auto;
}
.input {
  position: relative;
  margin: 0 1em;
  min-height: 100%;
  cursor: text;
}
.content-editable {
  color: transparent;
  caret-color: #949B93;
}
.view {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.content-editable,
.view {
  display: inline-block;
  padding: 1em 0;
  width: 100%;
  height: 100%;
  outline: none;
  white-space: nowrap;
}
.results {
  padding: 1em;
  min-height: 100%;
  background: #FFF;
  white-space: nowrap;
  overflow-x: auto;
}
.variable {
  color: #FFA800;
}
.comment {
  opacity: .5;
}
.footer {
  display: flex;
  padding: .5em;
  background: #949B93;
  color: #fff;
}
button {
  font-size: 1em;
}
.button-wrap {
  width: 100%;
}
.total-label {
  margin-left: auto;
  margin-right: 1em;
}
.total {
  width: 30%;
}
.placeholder {
  opacity: .5;
}
.modal {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  padding: 0 1em;
  background: #fff;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.modal b {
  color: #000;
}
code {
  background: #ccc;
  color: #000;
  border-radius: 4px;
  padding: .2em .4em;
}
table td {
  padding: .5em;
}
.operator-table tbody tr td:first-child{
  text-align: right;
}
.help {
  margin: 0 .5em;
}